API_PORT=
CORS_ORIGIN=
DATABASE_PATH=
DOCKER_IMAGE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GRPC_PORT=
JWT_SECRET=
NEXT_PUBLIC_SOCKET_URL=
NODE_API_KEY=
NODE_NAME=
PANEL_HOST=
PANEL_PORT=
SERVER_PORT_RANGE_END=
SERVER_PORT_RANGE_START=